.header {
    height: 156px;
    background: url('../../assets/header.png') center center/cover no-repeat;;
}

.main {
    width: 1110px;
    margin: 0 auto;
    position: relative;
}

@media(max-width: 1220px) {
    .main {
        width: 992px;
    }
}

@media(max-width: 991px) {
    .main {
        width: 768px;
    }
}

@media(max-width: 767px) {
    .main {
        width: 576px;
    }
}

@media(max-width: 575px) {
    .main {
        width: 327px;
    }
}
